@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body, html {
  background-color: #f8f8f9; 
}
  


/* Primary – highlight / CTA */
.text-color1 { color: #f52027; }   /* red-900 */
.bg-color1   { background-color: #f52027; }

/* Secondary – accent / subtle highlights */
.text-color2 { color: #c1272d; }  /* muted warm red */
.bg-color2   { background-color: #c1272d; }

/* Accent / Neutral – text, balance */
.text-color3 { color: #1f2937; }   /* slate-800 */
.bg-color3   { background-color: #1f2937; }
