@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body, html {
  background-color: #e5e7eb; 
}
  
/* Primary -  */
.text-color1 { color: #a4e5ff; }
.bg-color1 { background-color: #a4e5ff; }

.text-color2 { color: #1b2c40; }
.bg-color2 { background-color: #1b2c40; }

/* Accent - */
.text-color3 { color: #1e293b; }
.bg-color3 { background-color: #1e293b; }
